body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: #f8f6f1;
  overflow: hidden;
}

.gallery {
  --d: 10s;
  display: grid;
  place-items: center;
  width: 220px;
  margin: 0 auto;
}

.gallery > img {
  grid-area: 1/1;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border: 10px solid #f2f2f2;
  box-shadow: 0 0 4px #0007;
  z-index: 2;
  animation: slide var(--d) infinite ease-in-out,
    z-order var(--d) infinite steps(1);
}

.gallery img:last-child {
  animation-name: slide, z-order-last;
}

.gallery > img:nth-child(1) {
  animation-delay: calc(0 * var(--d));
  --r: 16deg;
}
.gallery > img:nth-child(2) {
  animation-delay: calc(-0.2 * var(--d));
  --r: -1deg;
}
.gallery > img:nth-child(3) {
  animation-delay: calc(-0.4 * var(--d));
  --r: -19deg;
}
.gallery > img:nth-child(4) {
  animation-delay: calc(-0.6 * var(--d));
  --r: 6deg;
}
.gallery > img:nth-child(5) {
  animation-delay: calc(-0.8 * var(--d));
  --r: -8deg;
}

@keyframes slide {
  10% {
    transform: translateX(120%) rotate(var(--r));
  }
  0%,
  100%,
  20% {
    transform: translateX(0%) rotate(var(--r));
  }
}

@keyframes z-order {
  10%,
  20% {
    z-index: 1;
  }
  50%,
  100% {
    z-index: 2;
  }
}

@keyframes z-order-last {
  10%,
  20% {
    z-index: 1;
  }
  90% {
    z-index: 2;
  }
}

#hedlinecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

#shine {
  font-size: 60px;
  font-weight: bold;
  color: rgba(255, 0, 102, 0.6);
  text-shadow: 0 0 8px rgba(233, 85, 189, 0.7);
  background: linear-gradient(to right, #fff 20%, #222 50%, #fff 80%);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-animation: shine 3s infinite linear;
}

@-webkit-keyframes shine {
  0%,
  10% {
    background-position: -1000px;
  }
  20% {
    background-position: top left;
  }
  90% {
    background-position: top right;
  }
  100% {
    background-position: 1000px;
  }
}

@media only screen and (max-width: 600px) {
  #shine {
    font-size: 22px;
  }
  .gallery {
    width: 150px;
    margin: 0 auto;
  }
}
